body {
  background-color:rgb(250, 239, 224);
  font-family: 'Courier New', Courier, monospace;
}

.title {
  text-align: center;
  color: teal;
}
.column1 {
  column-count: 1;
  float: left;
  background-color:rgb(243, 223, 198);
  padding: 5px;
  border-color: cadetblue;
  border-style: dashed;
  border-width: 1px;

}

.column2 {
  column-count: 1;
  margin: 5px;
  float: right;
  background-color:rgb(243, 223, 198);
  padding: 5px;
  border-color: cadetblue;
  border-style: dashed;
  border-width: 1px;
}

.column1 p {
  float: right;
  box-sizing: content-box;
  background-color: rgb(248, 245, 233);
  width: 500px;
  border-color: cadetblue;
  border-style: dashed;
  border-width: 1px;
  padding: 5px;
  margin: 20px;
}

.column2 p {
  float: left;
  box-sizing: content-box;
  background-color: rgb(248, 245, 233);
  width: 500px;
  border-color: cadetblue;
  border-style: dashed;
  border-width: 1px;
  padding: 5px;
  margin: 25px;
}

.centered-image {
  height: auto;
  width: 50%;
  margin: auto;
  display: block;
  padding: 10px;
}